.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.2em;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgb(175, 194, 227);
}

input {
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-bottom: 20px;
}
